body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  color: var(--color-base-text);
  background: var(--color-base);
  transition: background-color 0.3s;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

.container {
  @include media-breakpoint-down(sm) {
    @include make-container($grid-gutter-width * 2);
  }
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1;
  }
}

body.has-fixed-header {
  margin-top: $header-height;
}
body.has-transparent-header {
  margin-top: 0;
}